/* MOBILE */

/* INICIO */

@media (max-width: 576px) {

    body.backgroundcolor {
        background-color: $amarilloBg;
        background-position:top center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    header {
        position: sticky;
        top: 0%;
        z-index: 1;
        background: rgb(88,99,44);
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.282) 29%, rgba(23, 23, 23, 0.4) 29%);
        display: flex;
        flex-direction: column;
        div.header h1 a {
            @include tamaños(100%, auto);
            padding: 5px 50px 5px 50px;
            font-size: 40px;
        }
        ul.flex-nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 9px;
            li a.nav {
                padding: 0px 10px 0px 10px;
            }
        }
        img.cara {
            display: none;
        }
        img.carawhite {
            display: flex;
            padding: 10px 0px 0px 0px;
            width: 20px;
        }
    }
    ul.navdesplegable {
        @include tamaños(75px, auto);
        margin: 2px 0px 0px -3.8px;
    }

    div.menudinamico {
        margin: 0px 0px 10px 0px;
        img.imgdeslizable {
            @include tamaños(100%, 150px);
        }
    }

    img.todaslasbebidas {
        padding: 0px 5px 20px 5px;
    }
    section.pruebabanner {
        padding: 0px 0px 0px 0px;
        gap: 0px;
        img.suprema {
            justify-self: end;
            @include tamaños(auto, 62px);
        }
        img.novillo {
            justify-self: end;
            @include tamaños(auto, 62px);
        }
        img.elabora {
            @include tamaños(auto, 124px);
            margin: 0px;
            padding: 0px;
        }
        img.lechon {
            justify-self: start;
            @include tamaños(auto, 62px);
        }
        img.cerdo {
            justify-self: start;
            @include tamaños(auto, 62px);
        }
    }

    section.prods {
		@include tamaños(100%, auto);
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px 0px;
		align-items: center;
        h5.tamaño-h {
            font-size: small;
            @include tamaños(150px, 20px);
            margin: 0px;
        }
        img.prods {
            @include tamaños(100px, 50px);
        }
    }
    section.descuentos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
        margin: 0px 0px 50px 0px;
        gap: 10px;
        p.dias {
            font-size: x-small;
        }
        h4.rojo {
            padding: 2px 0px 2px 0px;
            font-size: smaller;
        }
        img.bancos {
            @include tamaños(60px, 20px);
        }
    }
    .container-registrar {
        padding: 0px 0px 0px 0px;
        div.registrar {
            margin: 0px 0px 0px 0px;
            border-radius: 0px;
            h5.registrate {
                font-size: small;
            }
            input.registrarse{
                text-align: center;
                border-style: solid;
                border-radius: 4px;
                border-color: rgb(255, 255, 255);
                padding: 3px;
                margin-top: 15px;
                font-size: x-small;
            }
        }
    }


    div.mejores-ofertas {
        display: flex;
        flex-direction: column;
        div.ofertas {
            padding: 0px 15px;
            h5.mejores {
                font-size: small;
            }
            h6.ofertas {
                font-size: x-small;
            }
            input.registrofertas {
                padding: 5px 50px;
                font-size: x-small;
            }
        }
    }

    div.wpp {
        margin: 0px;
        img.wpp {
            @include tamaños(40px, auto);
        }
    }

    div.foot {
        padding: 20px 10px 0px 10px;
        p.tdcolor {
            font-size: small;
            img.redes {
                @include tamaños(11px, 11px);
            }
        }
        div.none {
            display: none;
        }
    }

}

/*Almacen - Congelados - Bebidas */

@media (max-width: 576px) {
    section.marcasseleccionadas {
        background-color: white;
        margin: 0px 0px 0px 0px;
        img.marcas {
            display: flex;
            @include tamaños(auto, 14px);
        }
    }

    div.product-encontrados {
        background-color: rgba(210, 225, 49, 0);
        padding: 20px;
        margin: 20px 0px 0px 0px;
        font-size: 15px;
    }
    div.prodtr {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px 0px 0px 0px;
        div.prod {
            padding: 5px;
            gap: 0px;
            margin: 0px;
            & img.prueba {
                justify-content: center;
                display: flex;
                @include tamaños(150px, auto);
            }
            & p {
                display: flex;
                @include tamaños(150px, auto);;
                font-size: x-small;
            }
            p.precio {
                padding-top: 10px;
                font-size: x-small;
            }
            img.prueba {
                padding: 0px 0px 10px 0px;
            }
        }
    }

    div.mejores-ofertas {
        display: flex;
        flex-direction: column;
        align-items: center;
        input.registrofertas:focus {
            border-color: white;
            box-shadow: 0px 0px 4px 4px rgba(0, 72, 255, 0.351);
        }
    }
}


/* Formulario */

@media (max-width: 576px) {
    section.form-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 10px 10px 0px 10px;
        padding: 20px 10px 0px 10px;
        h5.telefono {
            color: black;
        }
    }
    div.formredes {
        justify-content: center;
        margin: 20px 0px 10px 0px;
        & img {
            @include tamaños(auto, 20px);
        }
    }
}


/* Nosotros */

@media (max-width: 576px) {
    section.fondotexto {
        display: flex;
        font-size: medium;
        padding: 0px 10px;
        div.fondo-texto {
            margin: 40px 0px;
        }
        ul.horarios {
            padding: 0px;
            & li {
                font-size: smaller;
            }
        }
        p.telefono {
            font-size: smaller;
            color: black;
        }
        iframe.iframe {
            display: none;
        }
    }
}







/* TABLET */


/* Inicio */

@media (min-width: 577px) and (max-width: 1200px) {

    body.backgroundcolor {
        background-color: $amarilloBg;
        background-position:top center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    header {
        background: rgb(88,99,44);
        background: linear-gradient(360deg, rgba(34, 51, 32, 0.205) 21%, rgba(23, 23, 23, 0.44) 21%);
        display: flex;
        flex-direction: column;
        div.header h1 a {
            @include tamaños(100%, auto);
            padding: 10px 50px 10px 50px;
        }
        ul.flex-nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 12px;
            li a.nav {
                padding: 0px 12px 10px 12px;
            }
        }
        img.cara {
            display: none;
        }
        img.carawhite {
            display: flex;
            padding: 7px 0px 0px 0px;
            width: 20px;
        }
    }
    ul.navdesplegable {
        z-index: 1;
        @include tamaños(120px, auto);
        margin: -8px 0px 0px -17px;
    }

    div.img-supermercado {
        display: none;
        img.img-supermercado {
            display: none;
        }
        img.img-supermercado-mobile {
            display: none;
            width: 100%;
            height: auto;
        }
    }


    div.menudinamico {
        margin: 0px 0px 0px 0px;
        img.imgdeslizable {
            @include tamaños(100%, 150px);
        }
    }

    img.todaslasbebidas {
        padding: 20px 5px 20px 5px;
    }
    section.pruebabanner {
        padding: 10px 0px 20px 0px;
        gap: 0px;
        img.suprema {
            justify-self: end;
            @include tamaños(auto, 130px);
        }
        img.novillo {
            justify-self: end;
            @include tamaños(auto, 130px);
        }
        img.elabora {
            @include tamaños(auto, 260px);
            margin: 0px;
            padding: 0px;
        }
        img.lechon {
            justify-self: start;
            @include tamaños(auto, 130px);
        }
        img.cerdo {
            justify-self: start;
            @include tamaños(auto, 130px);
        }
    }

    section.prods {
		@include tamaños(100%, auto);
        display: flex;
        flex-direction: column;
        gap: 10px;
		align-items: center;
        h5.tamaño-h {
            font-size: medium;
            @include tamaños(150px, 20px);;
        }
        img.prods {
            @include tamaños(180px, 90px);
        }
    }
    section.descuentos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
        margin: 0px 0px 50px 0px;
        gap: 10px;
        p.dias {
            font-size: small;
        }
        h4.rojo {
            padding: 5px 10px 5px 10px;
            font-size: medium;
        }
        img.bancos {
            @include tamaños(80px, 40px);
        }
    }
    .container-registrar {
        padding: 0px 0px 0px 0px;
        div.registrar {
            margin: 0px 0px 0px 0px;
            border-radius: 0px;
            h5.registrate {
                font-size: medium;
            }
            input.registrarse{
                text-align: center;
                border-style: solid;
                border-radius: 5px;
                border-color: rgb(255, 255, 255);
                padding: 4px;
                margin-top: 15px;
                font-size: smaller;
            }
        }
    }


    div.mejores-ofertas {
        background-color: white;
        padding: 10px 0px 10px 0px;
        display: flex;
        flex-direction: column;
        div.ofertas {
            padding: 0px 15px;
            h5.mejores {
                font-size: medium;
            }
            h6.ofertas {
                font-size: smaller;
            }
            input.registrofertas {
                padding: 1px 50px;
                font-size: x-small;
            }
        }
    }

    div.wpp {
        margin: 0px;
        img.wpp {
            @include tamaños(50px, auto);
        }
    }

    div.foot {
        padding: 20px 10px 0px 10px;
        p.tdcolor {
            font-size: small;
            img.redes {
                @include tamaños(15px, 15px);
            }
        }
    }
}


/*Almacen - Congelados - Bebidas */

@media (min-width: 577px) and (max-width: 1200px) {
    img.marcas {
        display: flex;
        @include tamaños(auto, 18px);
    }
    div.product-encontrados {
        background-color: white;
        padding: 20px;
        margin: 0px 0px 30px 0px;
        font-size: 20px;
    }
    div.prodtr {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        padding: 15px 0px 0px 0px;
        div.prod {
            padding: 5px;
            gap: 0px;
            margin: 0px;
            & img.prueba {
                justify-content: center;
                display: flex;
                @include tamaños(150px, auto);
            }
            & p {
                display: flex;
                @include tamaños(150px, auto);
                font-size: x-small;
            }
            p.precio {
                padding-top: 10px;
                font-size: x-small;
            }
            img.prueba {
                padding: 0px 0px 10px 0px;
            }
        }
    }

    div.mejores-ofertas {
        display: flex;
        flex-direction: column;
        align-items: center;
        input.registrofertas:focus {
            border-color: white;
            box-shadow: 0px 0px 5px 5px rgba(0, 72, 255, 0.351);
        }
    }
}



/* Formulario */

@media (min-width: 577px) and (max-width: 1200px) {
    section.form-container {
        margin: 10px 10px 0px 10px;
        padding: 20px 10px 0px 10px;
        h5.telefono {
            color: black;
        }
        input.enviar {
            border-style: solid;
            border-color: white;
            color: white;
        }
    }
    div.formredes {
        & img {
            @include tamaños(auto, 25px);
        }
    }
}


/* Nosotros */

@media (min-width: 577px) and (max-width: 1200px) {
    section.fondotexto {
        display: flex;
        font-size: smaller;
        ul.horarios {
            padding: 0px;
            & li {
                font-size: smaller;
            }
        }
        p.telefono {
            font-size: smaller;
            color: black;
        }
        iframe.iframe {
            @include tamaños(300px, 125px);
            border-radius: 10px;
        }
    }
}




/* DESKTOP */


/* INICIO */

@media (min-width: 1201px) {
    body.backgroundcolor {
        background-color: $amarilloBg;
        background-position:top center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    
    
    header {
        background: rgb(255,255,255);
        background: linear-gradient(336deg, rgba(0, 0, 0, 0.563) 22%, rgba(255, 255, 255, 0.262) 22%, rgba(255, 255, 255, 0.36) 64%, rgba(0, 0, 0, 0.563) 64%);
        @include tamaños(100%, auto);
        display: flex;
        justify-content: space-around;
        align-items: center;
        div.header {
            color: white;
            display: flex;
            align-content: center;
            justify-content: center;
            h1 a {
                color: white;
                display: flex;
                @include tamaños(100%, 165px);
                font-family: 'Cinzel', serif;
                font-size: 80px;
                align-items: center;
            }
        }
        ul.flex-nav {
            @include tamaños(100%, auto);
            display: flex;
            list-style: none;
            flex-wrap: wrap;
            margin: 0px;
            padding: 0px;
            li a.nav {
                cursor: pointer;
                color: rgb(54, 54, 54);
                display: flex;
                width: 100%;
                height: auto;
                font-size: larger;
                padding:0px 30px;
                align-items: center;
                &:hover {
                    transform: scale(1.05);
                    color: rgba(141, 150, 60, 0.523)
                }
            }
        }
        div.cara {
            height: 50px;
            display: flex;
            border: none;
            &:hover {
                transform: scale(1.05);
                cursor: pointer;
            }
            img.cara {
                display: none;
            }
        }
    }
    
    
    ul.navdesplegable {
        z-index: 1;
        display: none;
        list-style: none;
        text-decoration: none;
        position:absolute;
        width: 150px;
        background-color: transparent;
        text-align: center;
        padding: 0px;
        margin: 0px 0px 0px 0px;
        background-color: rgba(0, 0, 0, 0.222);
        & li:hover {
            transform: scale(1.05);
        }
        a.navdesplegable {
            display: block;
            color: white;
            padding: 10px 0px 10px 0px;
        }
    }
    li:hover ul.navdesplegable {
        display: block;
    }
    
    a {
        color: white;
        text-decoration: none;
    }

    img.imgdeslizable {
        @include tamaños(100%, 450px);
    }

    
    img.todaslasbebidas {
        @include tamaños(100%, auto);
        padding: 40px 10px 40px 10px;
    }
    
    section.pruebabanner {
        @include tamaños(100%, auto);
        display: grid;
        padding: 40px 0px 40px 0px;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        div.suprema {
            justify-self: end;
            grid-area: suprema;
            grid-column: 1/2;
            grid-row: 1;
        }
        div.novillo {
            justify-self: end;
            grid-area: novillo;
            grid-column: 1/2;
            grid-row: 2;
        }
        div.elabora {
            grid-area: elabora;
            grid-column: 2/3;
            grid-row: 1/3;
        }
        div.lechon {
            justify-self: start;
            grid-area: lechon;
            grid-column: 3/4;
            grid-row: 1
        }
        div.cerdo {
            justify-self: start;
            grid-area: cerdo;
            grid-column: 3/4;
            grid-row: 2;
        }
        img.suprema {
            @include tamaños(auto, 220px);
        }
        img.novillo {
            @include tamaños(auto, 220px);
        }
        img.elabora {
            @include tamaños(auto, 440px);
            margin: 0px;
            padding: 0px;
        }
        img.lechon {
            @include tamaños(auto, 220px);
        }
        img.cerdo {
            @include tamaños(auto, 220px);
        }
    }
    
    section.prods {
        display: flex;
        justify-content: space-evenly;
        margin: 10px 0px 10px 0px;
        div.tacc {
            cursor: pointer;
            background-color: white;
            display: flex;
            gap: 50px;
            border-radius: 10px;
            padding: 10px 0px 10px 15px;
            box-shadow: 0px 0px 2.5px 2.5px  rgba(0, 0, 0, 0.175);
            &:hover {
                transform: scale(1.01);
                transition: 1s;
            }
        }
        div.pan {
            cursor: pointer;
            background-color: white;
            display: flex;
            gap: 50px;
            padding: 10px 0px 10px 15px;
            border-radius: 10px;
            box-shadow: 10px;
            box-shadow: 0px 0px 2.5px 2.5px  rgba(0, 0, 0, 0.175);
            &:hover {
                transform: scale(1.01);
                transition: 1s;
            }
        }
        .h-prods {
            display: flex;
            align-items: center;
        }
        h5.tamaño-h {
            font-size: large;
        }
        img.prods {
            @include tamaños(300px, 120px);
        }
    }
    
    section.descuentos {
        display: grid;
        padding: 70px 10px 70px 10px;
        grid-template-areas: 
        "ciudad icbc lanacion superville galicia" ;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        div.ciudad {
            cursor: pointer;
            padding: 10px;
            text-align: center;
            background-color: white;
            border-radius: 20px 0px 20px 0px;
            grid-area: ciudad;
            box-shadow: 0px 0px 2.5px 2.5px  rgba(0, 0, 0, 0.175);
            &:hover {
                box-shadow: 0px 0px 10px 10px rgba(39, 39, 39, 0.251);
                transition: 1s;
            }
        }
        div.icbc {
            cursor: pointer;
            padding: 10px;
            text-align:center;
            background-color: white;
            border-radius: 20px 0px 20px 0px;
            grid-area: icbc;
            box-shadow: 0px 0px 2.5px 2.5px  rgba(0, 0, 0, 0.175);
            &:hover {
                box-shadow: 0px 0px 10px 10px rgba(39, 39, 39, 0.251);
                transition: 1s;
            }
        }
        div.lanacion {
            cursor: pointer;
            padding: 10px;
            text-align: center;
            background-color: white;
            border-radius: 20px 0px 20px 0px;
            grid-area: lanacion;
            box-shadow: 0px 0px 2.5px 2.5px  rgba(0, 0, 0, 0.175);
            &:hover {
                box-shadow: 0px 0px 10px 10px rgba(39, 39, 39, 0.251);
                transition: 1s;
            }
        }
        div.superville {
            cursor: pointer;
            padding: 10px;
            text-align: center;
            background-color: white;
            border-radius: 20px 0px 20px 0px;
            grid-area: superville;
            box-shadow: 0px 0px 2.5px 2.5px  rgba(0, 0, 0, 0.175);
            &:hover {
                box-shadow: 0px 0px 10px 10px rgba(39, 39, 39, 0.251);
                transition: 1s;
            }
        }
        div.galicia {
            cursor: pointer;
            padding: 10px;
            text-align: center;
            background-color: white;
            border-radius: 20px 0px 20px 0px;
            grid-area: galicia;
            box-shadow: 0px 0px 2.5px 2.5px  rgba(0, 0, 0, 0.175);
            &:hover {
                box-shadow: 0px 0px 10px 10px rgba(39, 39, 39, 0.251);
                transition: 1s;
            }
        }
        p.dias {
            color: gray;
            font-family: arial;
        }
        h4.rojo {
            padding: 10px;
            color: red;
            font-family: arial;
        }
        img.bancos {
            @include tamaños(80, 40px);;
        }
    }
    
    div.wpp {
        position: sticky;
        bottom: 0%;
        text-align: right;
        margin: 0px 70px 0px 0px;
    }
    .container-registrar {
        padding: 15px 0px 60px 0px;
        div.registrar {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color:rgb(249, 247, 247);
            padding: 20px 0px 20px 0px;
            margin: 0px 300px 0px 300px;
            border-radius: 30px;
            box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.381);
            h5.registrate {
                text-align: center;
            }
            input.registrarse{
                text-align: center;
                border-style: solid;
                border-radius: 5px;
                border-color: rgb(255, 255, 255);
                padding: 5px;
                margin-top: 15px;
            }
        }
    }
    
    div.foot {
        background-color: black;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        padding: 20px 0px 20px 0px;
        &-tamaño {
            text-align: center;
            @include tamaños(200px, auto);
            p.tdcolor {
                display: flex;
                padding: 3px 0px;
                justify-content: center;
                cursor: pointer;
                &:hover {
                    color: white;
                    text-decoration: underline;
                }
                img.redes {
                    @include tamaños(15px, 15px);
                }
            }
        }
    }
}


/* ALMACEN - CONGELADOS - BEBIDAS */

@media (min-width: 1201px) {
    .marcasseleccionadas {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px 0px 50px 0px;
        .marcas-uno {
            display: flex;
            gap: 60px;
            margin: 10px 20px 10px 0px;
        }
        .marcas-dos {
            display: flex;
            gap: 60px; 
            margin: 10px 0px 10px 20px;
        }
        .marcas-tres {
            display: flex;
            gap: 60px;
            margin: 10px 0px 10px 0px;
        }
        img.marcas {
            display: flex;
            @include tamaños(auto, 50px);
        }
    }

    
    div.product-encontrados {
        color: black;
        font-family: A$fontFamilyArial;
        font-size: 26px;
        justify-content: center;
        display: flex;
        p.p-prodencontrados {
            display: flex;
            margin: 20px 0px 20px 0px;
        }
    }
    div.prodtr {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 70px;
        padding: 50px 0px;
        div.prod {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            padding: 30px 5px 30px 5px;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
            &:hover {
                transform: scale(1.01);
                transition: 0.5s;
            }
            & img.prueba {
                justify-content: center;
                display: flex;
                @include tamaños(250px, auto);
                padding: 10px 10px 20px 10px;
            }
            & p {
                justify-content: center;
                display: flex;
                @include tamaños(250px, auto);
                text-align: center;
            }
            p.precio {
                padding-top: 40px;
            }
        }
    }
    
    div.mejores-ofertas {
        color: black;
        @include tamaños(100%, auto);
        background-color: rgb(255, 255, 248);
        display: flex;
        justify-content: center;
        padding: 15px 0px;
        div.ofertas {
            padding: 0px 15px;
            h6.ofertas {
                text-align:center;
            }
            input.registrofertas {
                padding: 10px 100px;
                &:focus {
                    border-color: white;
                    box-shadow: 0px 0px 8px 8px rgba(0, 72, 255, 0.351);
                } 
            }
        }
    } 
}

/* NOSOTROS */

@media (min-width: 1201px) {
    section.fondotexto {
        display: flex;
        padding: 0px 80px 0px 80px;
        div.fondo-texto {
            @include tamaños(100%, auto);
            margin: 80px 0px 80px 0px;
            display: flex;
            flex-direction: column;
            background-color: rgba(61, 61, 61, 0.24);
            padding: 0px 25px 0px 25px;
            border-radius: 10px;
            box-shadow: 0px 0px 2.5px 2.5px rgba(0, 0, 0, 0.555);
            p.pregunta {
                text-align: center;
                font-family: $fontFamilytTimesNewRoman;
                color: black;
                font-size: larger;
                padding-top: 20px;
                padding-bottom: 30px;
            }
            p.respuesta {
                text-align: center;
                font-family: $fontFamilytTimesNewRoman;
                color: black;
            }
            div.horarios-iframe {
                display: flex;
                justify-content: space-around;
                align-items: center;
                p.direccion {
                    font-family: $fontFamilytTimesNewRoman;
                    color: black;
                    text-align: left;
                    margin: 0px 0px 0px 0px;
                }
                p.horarios {
                    font-family: $fontFamilytTimesNewRoman;
                    color: black;
                    text-align: left;
                    margin: 0px 0px 0px 0px;
                }
                ul.horarios {
                    font-family: $fontFamilytTimesNewRoman;
                    color: black;
                    text-align: left;
                    padding: 0px;
                    list-style: none;
                }
                p.telefono {
                    font-family: $fontFamilytTimesNewRoman;
                    color: black;
                    text-align: left;
                    margin: 0px 0px 30px 0px;
                }
            }
        }
    }
    div.iframe {
        display: flex;
        justify-content: center;
        iframe.iframe {
            @include tamaños(600px, 250px);
            display: flex;
            border: none;
            border-radius: 30px;
        }
    }
}


/* FORMULARIO */

@media (min-width: 1201px) {
    section.form-container {
        background-color: rgba(61, 61, 61, 0.24);
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 30px 0px 0px 0px;
        div.form-one {
            display: flex;
            flex-direction: column;
            div.formredes {
                display: flex;
                flex-direction: row;
                gap: 15px;
            }
            div.formredes img {
                @include tamaños(auto, 40px);
            }
        }
        div.form-two {
            display: flex;
            flex-direction: column;
            font-family: $fontFamilyArial;
            .form-h {
                margin:30px 0px 20px 0px;
                font-family: $fontFamilyArial;
            }
            input.inputform {
                margin: 0px 0px 10px 0px;
                padding: 10px 0px 10px 10px;
            }
            textarea.inputform {
                padding: 10px 0px 10px 10px;
            }
            input.enviar {
                border-style: solid;
                border-color: white;
                color: white;
                background-color: rgba(0, 0, 0, 0.205);
                margin: 10px 0px 20px 0px;
                padding: 10px 0px 10px 0px;
            }
        }
    }
}




