/* MOBILE */



@media (min-width: 320px) and (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
        div.header h1 a {
            width: 100%;
            height: auto;
            padding: 20px 50px 30px 50px;
            font-size: 60px;
        }
        ul.flex-nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 8px;
            li a.nav {
                padding: 0px 12px;
            }
        }
        img.cara {
            display: flex;
            width: 20px;
        }
    }
    ul.navdesplegable {
        height: auto;
        width: 75px;
        margin: 5px 0px 0px 0px;
    }
	img.imgdeslizable {
		width: 100%;
		height: 150px;
	}
    img.todaslasbebidas {
        padding: 0px 5px 20px 5px;
    }
    section.pruebabanner {
        padding: 0px 0px 0px 0px;
        gap: 0px;
        img.suprema {
            height: 61px;
            width: auto;
        }
        img.novillo {
            height: 61px;
            width: auto;
        }
        img.elabora {
            height: 122px;
            width: auto;
            margin: 0px;
            padding: 0px;
        }
        img.lechon {
            height: 61px;
            width: auto;
        }
        img.cerdo {
            height: 61px;
            width: auto;
        }
    }

    section.prods {
		height: auto;
		width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
		align-items: center;
        h5.tamaño-h {
            font-size: small;
            height: 20px;
            width: 150px;
            margin: 0px;
        }
        img.prods {
            height: 50px;
            width: 100px;
        }
    }
    section.descuentos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
        margin: 0px 0px 50px 0px;
        gap: 10px;
        p.dias {
            font-size: x-small;
        }
        h4.rojo {
            padding: 5px 10px 5px 10px;
            font-size: smaller;
        }
        img.bancos {
            height: 20px;
            width: 50px;
        }
    }
    .container-registrar {
        padding: 0px 0px 0px 0px;
        div.registrar {
            margin: 0px 0px 0px 0px;
            border-radius: 0px;
            h5.registrate {
                font-size: small;
            }
            input.registrarse{
                margin-top: 15px;
                font-size: x-small;
            }
        }
    }


    div.mejores-ofertas {
        display: flex;
        flex-direction: column;
        div.ofertas {
            padding: 0px 15px;
            h5.mejores {
                font-size: small;
            }
            h6.ofertas {
                font-size: x-small;
            }
            input.registrofertas {
                padding: 5px 50px;
                font-size: x-small;
            }
        }
    }

    div.wpp {
        margin: 0px;
        img.wpp {
            height: auto;
            width: 40px;
        }
    }

    div.foot {
        padding: 20px 10px 0px 10px;
        p.tdcolor {
            font-size: small;
            img.redes {
                height: 10px;
                width: 10px;
            }
        }
        div.none {
            display: none;
        }
    }

}

/*Almacen - Congelados - Bebidas */

@media (min-width: 320px) and (max-width: 767px) {
    img.marcas {
        display: flex;
        height: 10px;
        width: auto;
    }
    div.product-encontrados {
        background-color: white;
        padding: 20px;
        margin: 0px 0px 30px 0px;
        font-size: 15px;
    }
    div.prodtr {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px 0px 0px 0px;
        div.prod {
            padding: 5px;
            gap: 0px;
            margin: 0px;
            & img.prueba {
                justify-content: center;
                display: flex;
                width: 150px;
                height: auto;
            }
            & p {
                display: flex;
                height: auto;
                width: 150px;
                font-size: x-small;
            }
            p.precio {
                padding-top: 10px;
                font-size: x-small;
            }
            img.prueba {
                padding: 0px 0px 10px 0px;
            }
        }
    }

    div.mejores-ofertas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/* Formulario */

@media (min-width: 320px) and (max-width: 767px) {
    section.form-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 10px 10px 0px 10px;
        padding: 20px 10px 0px 10px;
        h5.telefono {
            color: black;
        }
    }
    div.formredes {
        justify-content: center;
        margin: 20px 0px 10px 0px;
        & img {
            height: 20px;
            width: auto;
        }
    }
}


/* Nosotros */

@media (min-width: 320px) and (max-width: 767px) {
    section.fondotexto {
        display: flex;
        font-size: smaller;
        ul.horarios {
            padding: 0px;
            & li {
                font-size: smaller;
            }
        }
        p.telefono {
            font-size: smaller;
            color: black;
        }
        iframe.iframe {
            display: none;
        }
    }
}







/* TABLET */


/* Inicio */

@media (min-width: 768px) and (max-width: 1200px) {
    header {
        display: flex;
        flex-direction: column;
        }
        div.header h1 a {
            width: 100%;
            height: auto;
            padding: 20px 50px 30px 50px;
        }
        ul.flex-nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 12px;
            li a.nav {
                padding: 0px 16px;
            }
        }
        img.cara {
            display: flex;
            width: 20px;
        }
    ul.navdesplegable {
        height: auto;
        width: 120px;
        margin: 10px 0px 0px 0px;
    }
	img.imgdeslizable {
		width: 100%;
		height: 150px;
	}
    img.todaslasbebidas {
        padding: 0px 5px 20px 5px;
    }
    section.pruebabanner {
        padding: 10px 70px 20px 70px;
        gap: 0px;
        img.suprema {
            height: 120px;
            width: auto;
        }
        img.novillo {
            height: 120px;
            width: auto;
        }
        img.elabora {
            height: 240px;
            width: auto;
            margin: 0px;
            padding: 0px;
        }
        img.lechon {
            height: 120px;
            width: auto;
        }
        img.cerdo {
            height: 120px;
            width: auto;
        }
    }

    section.prods {
		height: auto;
		width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
		align-items: center;
        h5.tamaño-h {
            font-size: medium;
            height: 20px;
            width: 150px;
        }
        img.prods {
            height: 90px;
            width: 180px;
        }
    }
    section.descuentos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
        margin: 0px 0px 50px 0px;
        gap: 10px;
        p.dias {
            font-size: small;
        }
        h4.rojo {
            padding: 5px 10px 5px 10px;
            font-size: medium;
        }
        img.bancos {
            height: 40px;
            width: 80px;
        }
    }
    .container-registrar {
        padding: 0px 0px 0px 0px;
        div.registrar {
            margin: 0px 0px 0px 0px;
            border-radius: 0px;
            h5.registrate {
                font-size: medium;
            }
            input.registrarse{
                margin-top: 15px;
                font-size: smaller;
            }
        }
    }


    div.mejores-ofertas {
        background-color: white;
        padding: 10px 0px 10px 0px;
        display: flex;
        flex-direction: column;
        div.ofertas {
            padding: 0px 15px;
            h5.mejores {
                font-size: medium;
            }
            h6.ofertas {
                font-size: smaller;
            }
            input.registrofertas {
                padding: 1px 50px;
                font-size: x-small;
            }
        }
    }

    div.wpp {
        margin: 0px;
        img.wpp {
            height: auto;
            width: 50px;
        }
    }

    div.foot {
        padding: 20px 10px 0px 10px;
        p.tdcolor {
            font-size: small;
            img.redes {
                height: 15px;
                width: 15px;
            }
        }
    }
}


/*Almacen - Congelados - Bebidas */

@media (min-width: 768px) and (max-width: 1200px) {
    img.marcas {
        display: flex;
        height: 18px;
        width: auto;
    }
    div.product-encontrados {
        background-color: white;
        padding: 20px;
        margin: 0px 0px 30px 0px;
        font-size: 20px;
    }
    div.prodtr {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        padding: 15px 0px 0px 0px;
        div.prod {
            padding: 5px;
            gap: 0px;
            margin: 0px;
            & img.prueba {
                justify-content: center;
                display: flex;
                width: 150px;
                height: auto;
            }
            & p {
                display: flex;
                height: auto;
                width: 150px;
                font-size: x-small;
            }
            p.precio {
                padding-top: 10px;
                font-size: x-small;
            }
            img.prueba {
                padding: 0px 0px 10px 0px;
            }
        }
    }

    div.mejores-ofertas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/* Formulario */

@media (min-width: 768px) and (max-width: 1200px) {
    section.form-container {
        margin: 10px 10px 0px 10px;
        padding: 20px 10px 0px 10px;
        h5.telefono {
            color: black;
        }
    }
    div.formredes {
        & img {
            height: 25px;
            width: auto;
        }
    }
}


/* Nosotros */

@media (min-width: 768px) and (max-width: 1200px) {
    section.fondotexto {
        display: flex;
        font-size: smaller;
        ul.horarios {
            padding: 0px;
            & li {
                font-size: smaller;
            }
        }
        p.telefono {
            font-size: smaller;
            color: black;
        }
        iframe.iframe {
            height: 125px;
            width: 300px;
            border-radius: 10px;
        }
    }
}



