/* REGISTRO */

section.container-registro {
    background-color: rgba(61, 61, 61, 0.24);
    display: flex;
    flex-direction: column;
    margin: 80px 400px 80px 400px;
    padding: 60px 30px 60px 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.46);
    div.login {
        padding: 0px 0px 30px 0px;
        color: rgba(0, 0, 0, 0.585);
        text-align: center;
        h3.h-tres-registro {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 50px;
        }
    }
    div.registro-nombreYcontra {
        display: flex;
        flex-direction: column;
        margin: 0px 150px;
        gap: 10px;
        input.registro {
            background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.682)) ;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: large;
            padding: 6px 0px 6px 0px;
            border-radius: 5px;
            border: white;
            text-align: center;
        }
    }
    div.div-boton-login {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0px 0px 0px;
        input.boton-login {
            color: white;
            background-color: rgba(0, 0, 0, 0.205);
            border: 2px white;
            border-style: solid;
            border-radius: 5px;
            font-size: large;
            padding: 10px 30px 10px 30px;
            &:hover {
                transform:scale(1.02);
                box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.199);
                color: rgba(0, 0, 0, 0.742);
                background-color: rgba(255, 255, 255, 0.407);
            }
        }
    }
    div.container-olvido {
        display: flex;
        justify-content: center;
        font-size: medium;
        padding: 20px 0px 0px 0px;
        p.olvido-su-contrasena {
            text-decoration: underline;
            &:hover {
                cursor: pointer;
            }
        }
    }
    div.nueva-cuenta {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px 0px 0px 0px;
        font-size: larger;
        gap: 4px;
        p.nuevo-cliente {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        p.crear-cuenta {
            color: rgba(0, 0, 255, 0.336);
            font-family: 'Times New Roman', Times, serif;
            text-decoration: underline;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

