@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');

*{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
}

@import "index";
@import "alma-beb-cong";
@import "contacto";
@import "formulario";
@import "media";