@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');

*{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
}

/* VARIABLES */

$fontFamilytTimesNewRoman: 'Times New Roman', Times, serif;
$fontFamilyArial: Arial, Helvetica, sans-serif;
$amarilloBg: rgba(210, 225, 49, 0.49);


/* MIXIN */

@mixin tamaños($width, $height) {
    width: $width;
    height: $height;
}


/* IMPORT */

@import "index";
@import "alma-beb-cong";
@import "nosotros";
@import "formulario";
@import "registro";
@import "media";
